/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2022/03/24 20:25:34 (GMT+0900)
 */
.center {
  margin-left: auto;
  margin-right: auto;
}

.middle {

}

.flex {
  display: flex !important;
  &.center {
    justify-content: center;
    //align-items: center;
  }
  &.middle {
    align-items: center;
  }
}

.inline {
  display: inline-block;
  &.flex {
    display: inline-flex !important;
  }
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}